{% extends "base.html" %}

{% block titulo %} Show {{show.titulo}}{% endblock %}

{% block breadcrumb_active %}
    <li class="breadcrumb-item"><a href="/shows">Shows</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{show.titulo}}</li>
{% endblock %}

{% block contenido %} 

<h1>TV Show {{show.id}}</h1>

<p>Titulo: {{show.titulo}}</p>
<p>Network: {{show.network}}</p>
<p>Release Date: {{show.release_date}}</p>
<p>Descripcion: {{show.descripcion}}</p>
<hr>
<p>Last updated: {{show.updated_at}}</p>

<p><a href="{{show.id}}/edit" class="badge btn bg-success rounded-pill"> Edit </a> / <a id="delete_a" class="badge btn bg-danger rounded-pill">Delete</a></p>

<!-- Button trigger modal HIDDEN -->
<button id="btn_modal" hidden data-bs-toggle="modal" data-bs-target="#modal_destroy">
    Launch demo modal
  </button>

<!-- MODAL PARA CONFIRMAR DESTROY-->
<div class="modal fade" id="modal_destroy" tabindex="-1" aria-labelledby="modal_destroy" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estas seguro de eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Esto no se podra deshacer, ¡TENGA CUIDADO!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a type="button" href="{{show.id}}/destroy"  class="btn btn-danger">BORRAR</a>
        </div>
    </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script>
    $("#delete_a").on("click",function(){
        
        $("#btn_modal").trigger("click")
    });

</script>
{% endblock %}